<!DOCTYPE html>
<html>
<head>
    <title>Pago</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Sistema de Pagos</h1>
        <hr>

        <h3>Curso seleccionado:</h3>
        <p><strong>Curso:</strong> <%= curso %></p>

        <h3>Modulo seleccionado:</h3>
        <p><strong>Modulo:</strong> <%= modulo %></p>

        <h3>Seleccione método de pago:</h3>
        <form action="/confirmacion" method="post">
            <input type="hidden" name="curso" value="<%= curso %>">
            <input type="hidden" name="modulo" value="<%= modulo %>">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pago" id="tarjeta" value="Tarjeta de Crédito">
                <label class="form-check-label" for="Tarjeta de Crédito">Tarjeta de Crédito</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pago" id="efectivo" value="Efectivo">
                <label class="form-check-label" for="Efectivo">Efectivo</label>
            </div>
            <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
    </div>
</body>
</html>
